aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h1

po/POTFILES
po/*.gmo
po/stamp-it

src/gimp-deskew-plugin
.deps
.dirstamp
.libs
*.l[oa]
*.[oa]

.*.swp
*~
