.*.swp
Makefile
*/Makefile
src/*/.deps
src/.deps
*/.libs
*/*.l[oa]
*/*.[oa]
autom4te.cache
config.h
config.log
config.status
configure
stamp-h1
intltool-extract
intltool-merge
intltool-update
po/POTFILES
po/*.gmo
intltool-extract
src/gimp-dewskew-plugin
src/tags
po/stamp-it
po/Makefile.in
*~
