Source: gimp-deskew-plugin
Section: graphics
Priority: optional
Maintainer: Dmitriy Geels <dmitriy.geels@gmail.com>
Standards-Version: 3.0.1

Package: gimp-deskew-plugin
Architecture: any
Depends: gimp (>= 2.6), ${shlibs:Depends}
Description: A GIMP plugin for auto-straightening ("deskewing") an image.
 .
 Homepage: https://github.com/dmig/gimp-deskew-plugin/
